@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.category-tag:hover {
  border-color: #1890ff !important;
  color: #1890ff !important;
  transform: translateY(-2px);
}

/* Remove default bottom border for active menu item */
.custom-menu .ant-menu-item-selected::after,
.custom-menu .ant-menu-item-active::after {
  border-bottom: none !important;
}

/* Customize active menu item style */
.custom-menu .ant-menu-item-selected {
  background-color: transparent !important;
  color: #1a5fa4 !important; /* Change to your desired active color */
  font-weight: bold;
}

/* Optional: Hover effect */
.custom-menu .ant-menu-item:hover {
  color: #1a5fa4 !important;
  border-bottom: none !important;
}
.ant-menu-item-active {
  border-bottom: none !important;
}
.ant-menu-item-only-child {
  border-bottom: none !important;
}

.faqContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f0f2f5;
  border-radius: 8px;
}

.ant-collapse-header {
  background: #e6f4ff;
  padding: 12px;
  border-radius: 4px;
}

.ant-collapse-content-box {
  background: #fff;
  padding: 12px;
}
